{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'registro/bootstrap/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="{% static 'registro/css/all.css' %}" rel="stylesheet" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Inicio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link {% if activo == 'participantes' %}active{% endif %}" href="{% url 'registro:participantes' %}">Participantes</a>
                    <a class="nav-link {% if activo == 'conferencistas' %}active{% endif %}" href="#">Conferencistas</a>
                    <a class="nav-link {% if activo == 'conferencias' %}active{% endif %}" href="{% url 'registro:conferencias' %}">Conferencias</a>
                    <a class="nav-link" href="{% url 'logout_view' %}">Salir</a>
                    <a class="nav-link text-warning" href="{% url 'logout_view' %}">{{ request.user.participante }}</a>
                </div>                
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        {% block container %}{% endblock %}
    </div>
    
    
    <script src="{% static 'registro/js/jquery.min.js' %}"></script>
    <script src="{% static 'registro/bootstrap/bootstrap.bundle.min.js' %}" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script>
        $(function() {
            $('[data-bs-toggle="tooltip"]').tooltip();
        });
    </script>
    {% block js %}{% endblock %}
</body>
</html>