{% extends "base.html" %}

{% block title %}
    Index
{% endblock %}

{% block container %}    
    
    <h1>Home Page</h1>

    <div class="row">
        <div class="col-6">
            <!-- Formulario -->
            <input id="txt-buscar" type="text" class="form-control">
            <button id="btn-buscar" data-csrf="{{ csrf_token }}" class="btn btn-success mt-1">Enviar</button>
        </div>
        <div class="col-6">
            <!-- Resultado -->
            <span id="resultado">Resultado</span>
        </div>
    </div>

{% endblock %}

{% block js %}
<script>
    $(function () {
        // agregando el evento click al boton
        $('#btn-buscar').on('click', function () {
            // cachear el boton en una variable
            var $btn = $(this);
            var $txt = $('#txt-buscar');

            // se obtiene el valor de caja de texto
            var busqueda = $txt.val().trim();

            if (!busqueda)
            {
                $txt.val('').focus();
                return false;
            }
            
            // se obtiene el valor del atributo data-csrf del boton
            var csrfToken = $btn.data('csrf');

            var ctx = {
                'csrfmiddlewaretoken': csrfToken,
                'busqueda': busqueda
            }

            // Colocar la palabra cargando... al boton y deshabilitarlo
            $btn.text('Cargando...')
                .attr('disabled', true);
            
            // Limpiar la caja de texto
            $txt.val('');

            $.post('/registro/peticion/ajax/', ctx, function (response) {
                $('#resultado').text(response.msj);
                
                if (response.OK)
                {
                    $('#resultado').css('color', 'green');
                } else {
                    $('#resultado').css('color', 'red');
                }
                
                $btn.removeAttr('disabled')
                    .text('Enviar');
                $txt.focus();

            }, 'json')


        })

        // agregango el evento keyup a la caja de texto
        $('#txt-buscar').on('keyup', function (e) {
            var tecla = e.keyCode || e.which;

            if (tecla === 13)
            {
                $('#btn-buscar').click();
            }
        })
    })
</script>
{% endblock %}
    